@media screen and (max-width:1024px) {

    .nav_list,
    .nav_social,
    .nav_contactus{
        display: none;
    }

    .nav_mob{
        display: block;
    }

    .header-search{
        display: none;
    }
}