$primaryBakc:#f6f6f6;
$primaryColor:#555;
$lightGrey1:#cccccc;
$lightGrey:#dddddd;
$darkGrey:#eeeeee;
$darkGrey1:#78797B;
$darkBlue:#002056;
$darkBlueHover:rgba(-15,17,71,1);
$white:#fff;
$black:#000;
$red:#dd0000;
$oringe:#e74c3c;
$lightGreen:#25AE88;
$whitesmoke:whitesmoke;